apiVersion: apps/v1
kind: Deployment
metadata:
  name: cats-dogs-classifier
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cats-dogs-classifier
  template:
    metadata:
      labels:
        app: cats-dogs-classifier
    spec:
      containers:
      - name: classifier
        image: ghcr.io/diksha427/binary_image_classification:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
        readinessProbe:
          httpGet:
            path: /health
            port: 8000